.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Whether you use PnP or not, the node_modules folder is often used to store
# build artifacts that should be gitignored
node_modules

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

#!.yarn/cache
.pnp.*
.wwebjs_auth/
.wwebjs_cache/
.session/
/src/generated/prisma
dist/
.env
Dockerfile
docker-compose.yml
*.log
git filter-branch --force --index-filter \
"git rm -r --cached --ignore-unmatch .wwebjs_auth" \
--prune-empty --tag-name-filter cat -- --all